.wrapper-encrypt {
  height: auto;
  justify-content: center;
  align-items: center;
}

.container-encrypt {
  display: flex;
  justify-content: center;
}

.method-droplist {
  z-index: 6;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
}

.encrypt-form {
  min-width: 300px;
  z-index: 1;
}

label {
  font-size: 1.25rem;
  font-weight: 500;
}

textarea[type=text] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
	display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1.1rem;
  resize: none;
  outline: none;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
	display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1rem;
  outline: none;
}

button {
  font-family: "Montserrat";
  padding: 15px 60px;
  overflow: hidden;
  color: white;
  display: flex;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.05);
}

.button-container {
  display: flex;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

[type="file"] + label{
  font-family: "Montserrat";
  padding: 15px 60px;
  overflow: hidden;
  color: white;
  display: flex;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.05);
  background: #af497e;
  background: -webkit-linear-gradient(
    to right,
    #49afa6,
    #7640da
  );
  background: linear-gradient(to right, #49afa6, #7640da);
  background-size: 300% 300%;
  margin-right: 15px;
}

.encrypt-button {
  background: #af497e;
  background: -webkit-linear-gradient(
    to right,
    #af497e,
    #da406d
  );
  background: linear-gradient(to right, #af497e, #da406d);
  background-size: 300% 300%;
  margin-left: 15px;
}

.modal-encrypt {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 7;
}

.modal-content-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: center;
  opacity: 1;
  border-radius: 5px;
  margin: 10% auto auto auto;
  padding: 30px;
  font-weight: bold;
  width: 60%;
  height: auto;
}

.modal-content {
  box-sizing: content-box;
  height: inherit;
  width: 100%;
}

#message {
  color: #363537;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
}

.messageResult {
  font-size: 1.25rem;
  font-weight: 500;
  color: #363537;
}

.encryptedResult {
  color: #363537;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
}

.download-button {
  color: #363537;
  background: #af497e;
  background: -webkit-linear-gradient(
    to right,
    #eafa5f,
    #daa440
  );
  background: linear-gradient(to right, #eafa5f, #daa440);
  background-size: 300% 300%;
  justify-content: center;
  font-weight: 500;
}

.close-button {
  color: #e5e0eb;
  background: #af497e;
  background: -webkit-linear-gradient(
    to right,
    #fa5f5f,
    #da4040
  );
  background: linear-gradient(to right, #fa5f5f, #da4040);
  background-size: 300% 300%;
  justify-content: center;
  font-weight: 500;
}

.download-file {
  height: 0;
  width: 0;
}