.wrapper {
  position: fixed;
  top: 30px;
  right: -30px;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 75px;
  height: 37.5px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 2.625px;
  left: 2.25px;
  width: 32.25px;
  height: 32.25px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #FFFFF9;
  width: 32.25px;
  height: 32.25px;
  left: 3.75px;
  bottom: 3.75px;
}

.crater-2 {
  width: 7.5px;
  height: 7.5px;
  top: -2.625px;
  left: 16.5px;
}

.crater-3 {
  width: 6px;
  height: 6px;
  top: 7.5px;
  right: -1.5px;
}

.crater-4 {
  width: 3.75px;
  height: 3.75px;
  top: 9px;
  left: 11.25px;
}

.crater-5 {
  width: 5.625px;
  height: 5.625px;
  top: 15px;
  left: 18px;
}

.crater-6 {
  width: 3.75px;
  height: 3.75px;
  top: 18px;
  left: 7.5px;
}

.crater-7 {
  width: 4.5px;
  height: 4.5px;
  bottom: 1.875px;
  left: 13.125px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 2.25px;
  height: 2.25px;
  right: 33.75px;
  bottom: 15px;
}

.star-2 {
  width: 3px;
  height: 3px;
  right: 26.25px;
  top: 3.75px;
}

.star-3 {
  width: 1.875px;
  height: 1.875px;
  right: 22.5px;
  bottom: 5.625px;
}

.star-4 {
  width: 1.125px;
  height: 1.125px;
  right: 15px;
  bottom: 18.75px;
}

.star-5 {
  width: 1.5px;
  height: 1.5px;
  right: 3.75px;
  bottom: 13.125px;
}

.star-6, .star-7, .star-8 {
  width: 3.75px;
  height: 0.75px;
  border-radius: 1px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 11.25px;
  bottom: 11.25px;
  animation-delay: -2s;
}

.star-7 {
  right: 18.75px;
  bottom: 22.5px;
}

.star-8 {
  right: 33.75px;
  top: 3.75px;
  animation-delay: -4s;
}

#hide-checkbox:checked + .toggle {
  background: #24D7F7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #F7FFFF;
  transform: translateX(38.25px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(26.25px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 15px;
  height: 3.75px;
  border-radius: 10px;
  background: #FFF;
  left: 7.5px;
  top: 9.375px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 4.5px;
  height: 4.5px;
  background: #FFF;
  left: 9.75px;
  top: 8.625px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 6px;
  height: 6px;
  background: #FFF;
  left: 13.125px;
  top: 7.125px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 5.25px;
  height: 5.25px;
  background: #FFF;
  left: 17.25px;
  top: 7.875px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
  width: 22.5px;
  height: 5.625px;
  border-radius: 15px;
  background: #FFF;
  left: 11.25px;
  bottom: 7.5px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
  width: 6.75px;
  height: 6.75px;
  background: #FFF;
  border-radius: 50%;
  left: 14.25px;
  bottom: 7.5px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
  width: 9px;
  height: 9px;
  background: #FFF;
  border-radius: 50%;
  left: 19.5px;
  bottom: 7.5px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
  width: 7.875px;
  height: 7.875px;
  background: #FFF;
  border-radius: 50%;
  left: 26.25px;
  top: 22.125px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 1px;
    height: 1px;
    opacity: 0;
    box-shadow: none;
  }
}